<h1>详情</h1>
<form action="/process" method="POST">
	<input type="hidden" name="hush" val="hidden, but no secret!">
	<div>
		<label for="fieldColor">你最喜爱的颜色是：</label>
		<input id="fieldColor" type="text" name="color">
	</div>
	<div>
		<button type="submit">提交</button>
	</div>
</form>